/* Meyer's CSS Reset v2.0 | 20110126
    http://meyerweb.com/eric/tools/css/reset/
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
    background-color: #F4F3EE;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 5%;
}

body {
    color: #463F3A;
}

#new-proj-btn {
    background-color: #463F3A;
    color: #F4F3EE;
    font-size: 1rem;
    padding: 1%;
    border-radius: 1rem;
    font-weight: 300;
    margin: 1% 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project {
  padding: 1.3rem;
  border: 2px solid red;
  height: auto;
  margin-bottom: 20px;
  background-color: #F4F3EE;
  transition: all 0.3s ease-in-out;
}

#newProjectForm > div {
  display: flex;
  flex-direction: column;
}

#newProjectForm {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.project.focused {
    position: relative;
    transform: scale(1.05);
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.modal {
  background-color: #F4F3EE;
  padding: 1rem;
  width: 30%;
}

.modal button {
  background-color: #463F3A;
  color: #F4F3EE;
  border-radius: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.modal .btn-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#close-modal {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: #463F3A;
  color: #F4F3EE;
  justify-self: flex-end;
  align-self: flex-end;
}

a {
  color:#463F3A
}

button[type="submit"] {
  margin: .5rem 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  margin-top: 1rem;
}

.priority {
  text-align: center;
}

.todo-item label input {
  margin-right: .5rem;
}

.todo-item label {
  display: grid;
  grid-template-columns: auto 1fr;
}

.delete-btn:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(94%) saturate(5836%) hue-rotate(3deg) brightness(105%) contrast(118%);
    transform: scale(1.1);
}

.delete-btn {
  height: 2.5rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.todo-item span {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.todo-item input[type="checkbox"] {
  transform: scale(1.2);
}

.project .title button {
  /* border: none; */
  margin-left: auto;
  border-radius: 50%;
}

h2.title {
  display: flex;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: center;
}

.delete-project-btn {
    background: none;
    border: none;
    color: #463F3A;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: auto;
}

.delete-project-btn:hover {
    color: red;
    transform: scale(1.1);
}

.bx-message-square-add {
    transition: all .1s ease-in-out;
}

.title a {
  margin-right: 1rem;
  font-weight: bolder;
}

.bx-message-square-add:hover {
  transform: scale(1.1);
}

.addToDoWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addToDoWrapper.visible {
  margin: 0.5rem 0;
}

.addToDoField {
  display: none;
  margin-left: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.addToDoPriority {
  display: none;
}

.addToDoField.visible,
.addToDoPriority.visible,
.addToDoSubmit.visible {
  display: inline-block;
}

.addToDoSubmit {
    display: none;
}

.addToDoWrapper textarea.addToDoField {
    display: none;
}

.addToDoWrapper.visible textarea.addToDoField {
    display: inline-block;
}

.addToDoWrapper input[type="date"].addToDoField {
    display: none;
}

.addToDoWrapper.visible input[type="date"].addToDoField {
    display: inline-block;
}

.priority {
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

p.desc {
  padding: .5rem 0;
  
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

[contenteditable = "plaintext-only"]:focus {
  outline: none;
  background-color: #FFEB99;
}

.dueDate {
  display: flex;
  align-items: center;
}

#to-do {
  gap: .3rem;
}

#to-do div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addToDoBtn {
  margin-top: 1rem;
}

/* priority and date section in to-do's */
div.todo-container > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

div.todo-container > div > div:nth-child(3) > input[type="date"] {
  text-align: center;
}

div.todo-container > div.todo-item > div:nth-child(2) {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.todo-item > div:nth-child(2) > span:nth-child(1) {
  font-weight: 600;
  font-size: 1.2rem;
}

.todo-description {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
  width: 100%;
  resize: none;
}

textarea.todo-description {
  font-size: .8rem;
}

#container > div.project > div.todo-container > div > div > textarea {
  display: flex;
  align-items: center;
}